*{
  box-sizing: border-box;
}

body{
margin: 0;
background-color: #d8d3df;
color: white;
}
header{
  height: 100px;
  display: flex;
  align-items: center;
background: #a17be9;
background: -webkit-linear-gradient(to right, #d1c3db, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #52326d, #4b3c68); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header > img{
  height: 80%;
  margin-left:5% ;
}
header > p{
  font-family: VT323, monospace;
  color:whitesmoke;
  font-size: 3rem;
  margin: 0 auto;
}
.meme-form{
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content:space-between;
  border: 1px solid black;
}
.meme-form > button{
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
 background: #6441a5;
}